name: CIFAR-10 CI

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    # 1. Checkout Code
    - name: Checkout Code
      uses: actions/checkout@v3

    # 2. Build the Docker Image
    - name: Build Docker Image
      run: docker build -t cifar_app .

    # 3. Run Container in Background
    # We add '--name cifar_server' so we can find it easily in the next step
    - name: Run Docker Container
      run: docker run -d --name cifar_server -p 8000:8000 cifar_app

    # 4. Wait for Server to Start
    - name: Sleep for 10 seconds
      run: sleep 10

    # 5. Execute the Test INSIDE the Container
    # Instead of installing dependencies on the runner, we reuse the container's environment.
    # We execute 'test_api.py' using the python inside the container.
    - name: Run Test Script
      run: docker exec cifar_server python test_api.py